<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css"></link>
    <script async src="/js/app.js"></script>
</head>
<body>
    {{>header}}
   <div class='title'> {{title}} </div>
    <form class="form-query" id="Fweather">
        <label for="location" > Please fill in  major city's . or not .</label>
        <input id="location" width="50%" type="text" name="location" value=""></input>
    </form>
    <div id='Jweather'>
        
    </div>
    {{>footer}}
</body>
</html>